name: Build and deploy Node.js app to Azure Web App - app-adt-3d-test

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"

      - name: Install dependencies
        run: npm ci

      - name: Build React app
        run: npm run build

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: |
            build
            server.js
            package.json
            package-lock.json

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: build-artifact

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_72D793B7FC83403D96E4370969062FA8 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_903FA5CAD6E8467CA4E01192D823736D }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_AC48D16005D94380A9ED0C8F581A58D2 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "app-adt-3d-test"
          slot-name: "Production"
          package: .
